.leftbox{
    max-width: 60%;
    padding: 0.7rem 1rem;
    background-color: #D8E0F5;
    margin-right: auto;
    border-radius: 1rem;
    position: relative;
}
.hoverBox {
    position: absolute;
    max-width: 25rem;
    word-wrap: break-word; 
    white-space: normal; 

    
    background-color: #aeb8d2;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: none; 
}


.leftbox:hover .hoverBox {
    display: block; 
}
