.leftbox {
    max-width: 60%;
    padding: 0.7rem 1rem;
    background-color: #D8E0F5;
    margin-right: auto;
    border-radius: 1rem;
    position: relative;
}

.reference {
    max-width: 60%;
    /*position: absolute;*/
    bottom: -1rem;
    white-space: pre-wrap;
    left: 0;
    background-color: #c4bdbd;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    /*transform: translateY(1rem);*/
}